<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Congratulations!</title>
    </head>
    
    <style>

		body{
			background-image: url('https://github.com/petrov-ivaylo/MindfulTrader/blob/main/src/main/resources/templates/images/logo.jpg?raw=true');
			background-repeat: no-repeat;
			background-position: top right;
			background-size: 12.5% 35%;
		}

</style>
    
    <body>
        <center>
        <div style="margin-top:50px;">
            <h3><b>Congratulations! Your account has been activated and email is verified!</b></h3>
       	</div>
        </center>
    </body>
</html>