<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Algorithm Result</title>
</head>
<body>
<style>
body{
		background-image: url('https://github.com/petrov-ivaylo/MindfulTrader/blob/main/src/main/resources/templates/images/logo.jpg?raw=true');
			background-repeat: no-repeat;
			background-position: top right;
			background-size: 11.5% 40.5%;
	}
</style>

<div style="margin-top:150px;">
<p>
<b>
Algorithm result for company <span th:text="${company_name}"></span>
</b>
</p>

<p>
Algorithm has only been run of first example data set here
</p>

<p>
	Conclusion from algorithm run 1 is: <span th:text="${conclusion1}"></span>
</p>
<p>	
	Breakdown of advice from run 1 is: <span th:text="${advice1}"></span>
</p>


<form action="/homee">
	<input type="submit" value="return to home page">
</form>
<br>
<form action="/portfoliowatchlist">
	<input type="submit" value="return to your portfolio/watchlist">
</form>
</div>
</body>
</html>