<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Your portfolio was successfully updated</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
    <div class="container text-center">
        <h3>Your portfolio was successfully updated!</h3>
        <h4><a th:href="@{/port}">Click here to return to your portfolio</a></h4>
        <h4><a th:href="@{/users}">Click here to return to the main page</a></h4>
    </div>
     
</body>
</html>