<html>

<head>
	<title>title</title>
</head>

<style>

		body{
			background-image: url('https://github.com/petrov-ivaylo/MindfulTrader/blob/main/src/main/resources/templates/images/logo.jpg?raw=true');
			background-repeat: no-repeat;
			background-position: top right;
			background-size: 12.5% 35%;
		}

</style>

<body>
	<div class="container text-center" style="margin-top:150px;">
    <h3>Congratulations, your account has been verified.</h3>
    <h4><a th:href="@{/login}">Click here to Login</a></h4>
</div>
</body>

</html>