<!-- 
	View for account deletion confirmation
 -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Are you sure?</title>
</head>
<style>
body{
		background-image: url('https://github.com/petrov-ivaylo/MindfulTrader/blob/main/src/main/resources/templates/images/logo.jpg?raw=true');
			background-repeat: no-repeat;
			background-position: top right;
			background-size: 12.5% 65%;
	}
</style>

<body>

<center>
<div style="margin-top:150px;">
	We are sorry to see you go! If you are sure you wish to delete your account, click the button below.
	This will delete all information connected to you in our system and cannot be reversed. 
	
	<form action="delete/submit">
		<input type="submit" value="delete account">
	</form>
</div>

<br>

<div>
	Changed your mind? Don't worry you can return to your account page by clicking the button below.
	<form action="/account">
		<input type="submit" value="Return to account page">	
	</form>
</div>
</center>
</body>
</html>