<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Mindful Trader App</title>
</head>

<style>
body{
		background-image: url('https://github.com/petrov-ivaylo/MindfulTrader/blob/main/src/main/resources/templates/images/logo.jpg?raw=true');
			background-repeat: no-repeat;
			background-position: top right;
			background-size: 12.5% 75%;
	}
</style>

<body>

<center>
<div style="margin-top:150px;">
	Your email was successfully changed to <span th:text="${email}">your chosen email</span>. Click below to log in again.
	
	<form action="/account">
		<input type="submit" value="Return to account page">	
	</form>
	
	<form action="/homee">
		<input type="submit" value="return to home page">		
	</form>
</div>
</center>
</body>
</html>